NEXT_AUTH_SECRET=qBkMpTpp/+XCvBfq/lrRwkf/pyF/Q+UI6357kWl95oM=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SPOTIFY_CLIENT_ID=

# REDIS
REDIS_PORT=
REDIS_HOST=
REDIS_PASSWORD=

# POSTGRES
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret

# REDIS
REDIS_PASS=secret


NEXT_PUBLIC_BASE_URL=